name: Test Suite

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-22.04
    
    steps:
    - uses: actions/checkout@v4
    
    - uses: oven-sh/setup-bun@v2
      with:
        bun-version: latest
        
    - run: bun install
    
    - name: Setup Solana & Anchor
      uses: solana-developers/setup-all@v1
      with:
        node-version: 20
        anchor-version: 0.32.1
        solana-cli-version: 1.18.18
        
    - name: Build Anchor Program
      run: cd packages/anchor && anchor build
      
    - name: Run Anchor Tests
      run: cd packages/anchor && anchor test
        
    - name: Run API Tests
      run: cd packages/api && bun test
