name: Test Suite

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-22.04
    
    steps:
    - uses: actions/checkout@v4
    
    - uses: oven-sh/setup-bun@v2
      with:
        bun-version: latest
        
    - run: bun install
    
    - name: Setup Solana & Anchor
      uses: solana-developers/github-actions/.github/actions/setup-all@v0.2.7
      with:
        solana_version: '1.18.18'
        anchor_version: '0.32.1'
        node_version: '20'
        
    - name: Build Anchor Program
      run: cd packages/anchor && anchor build
      
    - name: Run Anchor Tests
      run: cd packages/anchor && anchor test
        
    - name: Run API Tests
      run: cd packages/api && bun test
