name: Test Suite

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  anchor-test:
    uses: solana-developers/github-workflows/.github/workflows/test.yaml@v0.2.9
    with:
      program: "anchor"  # Your program folder name in packages/
      
  api-test:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
    
    - uses: oven-sh/setup-bun@v2
      with:
        bun-version: latest
        
    - run: bun install
    
    - working-directory: packages/api
      run: bun test
